* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

body {
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.gallery-discription {
    margin-top: 10px;
    text-align: center;
}

.gallery-discription h1 {
    font-family: 'Times New Roman', Times, cursive;
    margin-bottom: 1px;
    font-style: italic;
    font-weight: normal;
}

.line {
    width: 300px;
}

.container {
    width: 100%;
    max-width: 1050px;
    margin: 0 auto;
}

.gallery-items {
    display: flex;
    margin: 12px;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.item {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-color:#f5f3f0de;
    width: 150px;
    height: 230px;
    margin-top: 12px;
    margin-left: 12px;
    border: 1px solid #a3a095;
    text-align: center;
}

.item p {
    margin-top: auto;
    width: 100%;
}

.item p {
    margin-bottom: auto;
    overflow: hidden;
    padding: 7px;
    min-width: 0;
}

.wrapper {
    display: flex;
    flex-grow: 1;
    margin: 8px;
    align-items: stretch;
}

.wrapper img {
    max-width: 134px;
    max-height: 150px;
    object-fit: cover; 
    border: 2px solid #807f7c;
}